<div class="page-header">
  <%= link_to new_search_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Search
  <% end %>
  <h1>Listing searches</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Itemtp</th>
            <th>Serial</th>
            <th>Model</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @searches) do |search| %>
            <td><%= search.itemtp %></td>
            <td><%= search.serial %></td>
            <td><%= search.model %></td>
            <td><%= search.name %></td>
            <td><%= search.brand %></td>
            <td><%= search.color %></td>
            <td><%= search.details %></td>
            <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Search', search %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
